<div class="container mx-auto py-6">
    <div class="overflow-x-auto">
      <table class="min-w-full border divide-y">
        <thead class="bg-gray-50 text-left">
          <tr>
            <th class="px-4 py-2">First Name</th>
            <th class="px-4 py-2">Last Name</th>
            <th class="px-4 py-2">Location</th>
            <th class="px-4 py-2">Date of Birth</th>
            <th class="px-4 py-2">Phone Number</th>
            <th class="px-4 py-2">Username</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y">
          <tr *ngFor="let user of users">
            <td class="px-4 py-2">{{ user.firstName }}</td>
            <td class="px-4 py-2">{{ user.lastName }}</td>
            <td class="px-4 py-2">{{ user.location }}</td>
            <td class="px-4 py-2">{{ user.dob }}</td>
            <td class="px-4 py-2">{{ user.phoneNumber }}</td>
            <td class="px-4 py-2">{{ user.username }}</td>
            <td class="px-4 py-2 flex space-x-2">
              <button class="text-green-600 hover:text-green-800" (click)="viewUser(user)">View</button>
              <button class="text-red-600 hover:text-red-800" (click)="deleteUser(user)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-popup-modal [isVisible]="showPopup" (closePopUP)="togglePopUP()">
    <h1 class="text-2xl font-bold">User information</h1>
    <p>{{SelectedUser?.firstName}}</p>
    <p>{{SelectedUser?.lastName}}</p>
    <p>{{SelectedUser?.location}}</p>
    <p>{{SelectedUser?.phoneNumber}}</p>
  </app-popup-modal>
  
